.nav-link {
    color: #cbbde2;
}
header {
    background-color: #292a2e;
    height: 500px;
}
.carousel-item {
    height: 450px;
}
.margin-up {
    margin-top: 80px;
}

.carousel--text {
    color: #a1a2a6;
}
.active-text {
    font-weight: bold;
    color: white !important;
}